@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
body {
  font-family: "Kumbh Sans", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background: linear-gradient(180deg, #af67e9, #6565e7);
}

.background .box {
  background-color: red;
}

.background .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #fcfcfc;
  padding: 25px;
  max-width: 1000px;
  max-height: 500px;
  border-radius: 15px;
  -webkit-box-shadow: 2px 1px 55px 2px;
          box-shadow: 2px 1px 55px 2px;
  overflow: hidden;
}

.background .card .illustration {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.background .card .illustration .shadow {
  border: 2px solid #e7e7e9;
  border-radius: 10px;
  max-width: 100px;
  max-height: 100px;
  padding: 25px;
  margin: 10px;
  -webkit-transform: rotate3d(100, 1, 1, 45deg);
          transform: rotate3d(100, 1, 1, 45deg);
}

.background .card .faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  padding: 25px;
  margin-bottom: 50px;
}

.background .card .faq h1 {
  font-size: 36px;
}

.background .card .faq .accordion {
  border-bottom: solid 1px #e7e7e9;
  padding-top: 10px;
  min-width: 400px;
}

.background .card .faq .accordion .question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-weight: 500;
}

.background .card .faq .accordion .question .arrow {
  margin-left: auto;
}

.background .card .faq .accordion .answer {
  display: none;
  font-weight: 500;
  font-size: 12px;
}
/*# sourceMappingURL=style.css.map */