@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

@mixin flexCenter($content, $direction, $align) {
  display: flex;
  justify-content: $content;
  align-items: $align;
  flex-direction: $direction;
}

$primaryTextBlue: hsl(238, 29%, 16%);
$primaryTextRed: hsl(14, 88%, 65%);
$dividers: hsl(240, 5%, 91%);

body {
  font-family: "Kumbh Sans", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.background {
  @include flexCenter(center, row, center);
  height: 100vh;
  background: linear-gradient(180deg, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  .card {
    @include flexCenter(center, row, center);
    background-color: #fcfcfc;
    padding: 25px;
    max-width: 1000px;
    max-height: 500px;
    border-radius: 15px;
    box-shadow: 2px 1px 55px 2px;
    overflow: hidden;
    .illustration {
      // @include flexCenter(center, row, center);
      flex-wrap: wrap;
      flex: 1 1 0;
      .shadow {
        border: 2px solid $dividers;
        border-radius: 10px;
        max-width: 100px;
        max-height: 100px;
        padding: 25px;
        margin: 10px;
        transform: rotate3d(100, 1, 1, 45deg);
      }
    }
    .faq {
      @include flexCenter(center, column, center);
      align-items: flex-start;
      flex: 1 1 0;
      padding: 25px;
      margin-bottom: 50px;
      h1 {
        font-size: 36px;
      }
      .accordion {
        border-bottom: solid 1px $dividers;
        padding-top: 10px;
        min-width: 400px;
        .question {
          @include flexCenter(flex-start, row, center);
          font-weight: 500;
          .arrow {
            margin-left: auto;
          }
        }
        .answer {
          display: none;
          font-weight: 500;
          font-size: 12px;
        }
      }
    }
  }
}
